<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
  <Visualization>
    <Serverurl>http://ospf-visualiser.wz.cz/add.php</Serverurl>
  </Visualization>
  <Triggers>
    <Lltd>0 0/5 * * * ?</Lltd>
    <Ping>0 0/15 * * * ?</Ping>
    <Send2server>0/15 * * * * ?</Send2server>
  </Triggers>
  <Traceroute>
    <Route>
      <Ip>10.0.0.138</Ip>
      <Ip>77.75.72.3</Ip>
    </Route>
    <Hostname>www.seznam.cz</Hostname>
  </Traceroute>
  <Debug>
    <Showlogs>1</Showlogs>
  </Debug>
</Configuration>